.content-home {
    height: calc(92vh - 2px);
	min-height: 560px;
}

.n-margin {
    margin: 0 !important;
}

.n-padding {
    padding: 0 !important;
}

.goto-bottom:after {
    content: "";
    background: url("../images/down.svg");
    background-size: 20px;
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: 4px;
    margin-top: 5px;
}

.arrow-right-border-sb > a:after {
    content: "";
    background: url("../images/gotop.svg");
    transform: rotate(90deg);
    background-size: 18px;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 3px;
    margin-left: 10px;
    right: 0;
    margin-right: 30px;
}

.arrow-right-border:after {
    content: "";
    background: url("../images/gotop.svg");
    transform: rotate(90deg);
    background-size: 20px;
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: 10px;
    margin-top: 6px;
}

.click-icon:nth-child(2):after {
    content: "";
    background: url("../images/donate1.png");
    background-size: 60px;
    height: 60px;
    width: 60px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 8vh;
}

.click-icon:nth-child(3):after {
    content: "";
    background: url("../images/CJC_Homepage_Volunteer.png");
    background-size: 60px;
    height: 60px;
    width: 60px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 8vh;
}

.click-icon:nth-child(1):after {
    content: "";
    background: url("../images/question.svg");
    background-size: 60px;
    height: 60px;
    width: 60px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 8vh;
}

.background-box-active {
    background-color: #AB1E37 !important;
}

.display-none {
    display: none;
}

li.arrow-right-border:hover {
    background-color: #fbd4fd;
    color: #AB1E37;
}

li.arrow-right-border-sb:hover {
    background-color: #fbd4fd;
    color: #AB1E37;
}

li.arrow-right-border-sb:hover a {
    color: #AB1E37;
}

.boder-white {
    border: solid 1px white;
}

.boder-white {
    border-right: 0;
    margin-top: -12px;
}

.boder-r-white {
    border-right: solid 1px white;
}

.boder-b-white {
    border-bottom: solid 1px white;
}

.boder-r-white:last-child {
    border-right: 0;
}

.align-center {
    text-align: center;
}

li.arrow-right-border {
    display: block;
    margin-bottom: 10px;
    height: 20px;
    padding-left: 30px;
}

li.arrow-right-border-sb {
    display: block;
    margin-bottom: 5px;
    padding-left: 30px;
    padding: 5px;
    position: relative;
}

li.arrow-right-border-sb a {
    text-decoration: none;
    color: #fff;
    display: block;
	width: 90%;
	padding-right: 35px;
}

li.arrow-right-border-sb a:hover {
    text-decoration: none;
    background-color: #fbd4fd;
    color: #AB1E37;
}

.ft-h-cjc {
    color: white;
    font-size: large;
    line-height: 2;
    margin-top: 5px;
    display: block;
    text-decoration: none !important;
}

.ft-h-cjc:hover {
    color: white;
}

#find-help-box {
    cursor: pointer;
    background-color: #907a5d;
    height: 33.33vh;
    border-top: solid 1px white;
    border-left: solid 1px white;
    text-align: center;
    opacity: 0.9;
	min-height: 200px !important;
}

#donate-box {
    cursor: pointer;
    background-color: #907a5d;
    height: 33.33vh;
    border-top: solid 1px white;
    border-left: solid 1px white;
    text-align: center;
    opacity: 0.98;
	min-height: 200px !important;
}

#volunteer-box {
    cursor: pointer;
    background-color: #907a5d;
    height: 33.33vh;
    border-top: solid 1px white;
    border-left: solid 1px white;
    text-align: center;
    opacity: 0.98;
	min-height: 200px !important;
}

.title.goto-bottom {
    font-weight: 300;
	line-height: 1.5;
	padding: 15px;
}

.c-white {
    color: white;
}

.p-t-15 {
    padding-top: 15px;
}

.f-s-large {
    font-size: large;
}

.btn-nav-footer {
    cursor: pointer;
    height: 10vh;
    background-color: #AB1E37;
	min-height: 50px !important;
}

.text-homepage-cjc {
    color: white;
    padding-bottom: 15px;
    width: 80%;
    margin: 0;
}

.text-homepage-cjc p {
    line-height: 2rem;
}

.arrow-right-border.learn-more {
    cursor: pointer;
    font-size: 1em;
    color: white;
    padding-top: 15px;
    width: 100%;
    border-top: solid 1px;
}

.arrow-right-border.learn-more {
    font-size: 0.9em;
}

.layer {
    box-shadow: inset -200px -250px 200px 150px rgba(255, 9, 9, 0.33);
    width: 100%;
}

.menu-toggle {
    text-align: left;
    color: white
}

/* Desktops and laptops ----------- */

@media only screen and (max-width: 1366px) {
    .text-homepage-cjc,
    .title.goto-bottom {
        font-size: 1rem !important;
        padding-bottom: 1rem;
    }
    li.arrow-right-border-sb {
        font-size: 0.8rem;
        padding-left: 1.4rem;
    }
    .goto-bottom:after {
        background-size: 1rem;
        height: 1rem;
        width: 1rem;
    }
    .arrow-right-border.learn-more {
        font-size: 1.4rem !important;
        padding-top: 1.4rem;
    }
    .arrow-right-border:after,
    .arrow-right-border-sb > a:after {
        background-size: 1.4rem;
        width: 1.4rem;
        height: 1.4rem;
        margin-right: 0.5rem;
    }
    .ft-h-cjc {
        font-size: 1.2rem;
        margin-top: 14px;
    }
}


/* Large screens ----------- */

@media only screen and (min-width: 1400px) {
    .text-homepage-cjc,
    .title.goto-bottom {
        font-size: 1.3rem !important;
        padding-bottom: 1.8rem;
    }
    li.arrow-right-border-sb {
        font-size: 1rem;
        padding-left: 1.7rem;
    }
    .goto-bottom:after {
        background-size: 1.3rem;
        height: 1.3rem;
        width: 1.3rem;
    }
    .arrow-right-border.learn-more {
        font-size: 1.7rem !important;
        padding-top: 1.7rem;
    }
    .arrow-right-border:after,
    .arrow-right-border-sb > a:after {
        background-size: 1.7rem;
        width: 1.7rem;
        height: 1.7rem;
        margin-right: 1.7rem;
    }
    .ft-h-cjc {
        font-size: 1.4rem;
    }
}


/* Large screens ----------- */

@media only screen and (min-width: 1600px) {
    .text-homepage-cjc,
    .title.goto-bottom {
        font-size: 1.3rem !important;
        padding-bottom: 2rem;
    }
    li.arrow-right-border-sb {
        font-size: 1.2rem;
        padding-left: 1.9rem;
    }
    .goto-bottom:after {
        background-size: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
    }
    .arrow-right-border.learn-more {
        font-size: 1.9rem !important;
        padding-top: 1.9rem;
    }
    .arrow-right-border:after,
    .arrow-right-border-sb > a:after {
        background-size: 1.9rem;
        width: 1.9rem;
        height: 1.9rem;
        margin-right: 1.9rem;
    }
    .ft-h-cjc {
        font-size: 1.9rem;
    }
	.click-icon:nth-child(1):after, .click-icon:nth-child(2):after, .click-icon:nth-child(3):after {
		background-size: 100px;
		height: 100px;
		width: 100px;
	}
}


/* Large screens ----------- */

@media only screen and (min-width: 2500px) {
    .text-homepage-cjc,
    .title.goto-bottom {
        font-size: 2rem !important;
        padding-bottom: 1.8rem;
    }
    li.arrow-right-border-sb {
        font-size: 2.2rem;
        padding-left: 2.8rem;
    }
    .goto-bottom:after {
        background-size: 2rem;
        height: 2rem;
        width: 2rem;
    }
    .arrow-right-border.learn-more {
        font-size: 2.8rem !important;
        padding-top: 2.8rem;
    }
    .arrow-right-border:after,
    .arrow-right-border-sb > a:after {
        background-size: 2.8rem;
        width: 2.8rem;
        height: 2.8rem;
        margin-right: 2.8rem;
    }
    .ft-h-cjc {
        font-size: 2.8rem;
    }
	.click-icon:nth-child(1):after, .click-icon:nth-child(2):after, .click-icon:nth-child(3):after {
		background-size: 150px;
		height: 150px;
		width: 150px;
	}
}