@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i');
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?jbm3a7');
    src:  url('../fonts/icomoon.eot?jbm3a7#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?jbm3a7') format('truetype'),
      url('../fonts/icomoon.woff?jbm3a7') format('woff'),
      url('../fonts/icomoon.svg?jbm3a7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
[class^="icon-"],
[class*=" icon-"],
.custom-template .list-form ul li a:after,
.custom-template .dropdown-sidebar .dropdown-toggle:after,
.service-dropdown .dropdown-toggle:after,
.service-dropdown .dropdown-item:after {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
    content: "\e900";
}

.icon-arrow-right:before {
    content: "\e901";
}

.icon-close:before {
    content: "\e902";
}


html, body {
    height: 100%
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #FDFBF7;
    font-size: 0.8rem;
    color: #465661;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
    color: #AB1E37;
}

h1, .h1 {
    font-size: 2.2rem;
}

h2, .h2 {
    font-size: 1.9rem;
}

h3, .h3 {
    font-size: 1.70rem;
}

h4, .h4 {
    font-size: 1.5rem;
}

h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
}

p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

ol.ol-lg > li {
    margin-bottom: 15px;
    padding-left: 10px;
}

blockquote {
    padding-left: 5%;
    font-size: 1.2rem;
    color: #907a5d;
    border-radius: 8px;
    position: relative;
}

blockquote:before {
    content: " ";
    border: 5px solid;
    position: absolute;
    height: 80%;
    left: 0;
    border-radius: 5px;
}

blockquote p {
    line-height: 2rem;
}

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, 
.entry-content .h1, .entry-content .h2, .entry-content .h3, .entry-content .h4, .entry-content .h5, .entry-content .h6 {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

img.aligncenter {
    margin: 0 auto;
    text-align: center;
    display: block;
}

img.alignright {
    float: right;
}

img.alignleft {
    float: left;
}

a img.alignright {
    float: right;
}

a img.alignleft {
    float: left;
}

a img.aligncenter {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* Buttons */

.btn, .btn-sm, .btn-group-sm > .btn, .btn-lg, .btn-group-lg > .btn {
    border-radius: 0;
    cursor: pointer;
}

.btn-red, .btn-red:hover {
    color: #fff;
    background-color: #AB1E37;
    border-color: #AB1E37;
    padding: 0.25rem 0.8rem;   
}

.btn-blue, .btn-blue:hover {
    color: #fff;
    background-color: #465661;
    border-color: #465661;
    padding: 0.45rem 1.5rem;   
}

/* Buttons End */

header.header {
    background: #AB1E37;
    color: #fff;
}

header .container {
    padding: 0;
}

header nav {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    background: #907a5d;
    padding: 0 !important;
}

header .nav-link {
    padding: 0.8rem 0;
}

header .nav-item.nav-home {
    background: #AB1E37;
    border-right: 0;
}

header .nav-justified .nav-item {
    border-right: 1px solid rgba(221, 221, 221, 0.25);
}

/* header .nav-item.nav-home .dropdown-menu.show a:last-child {
    background: #907a5d;
}

header .nav-item.nav-home .dropdown-menu.show a:last-child:hover {
    color: #fff;
} */

header .nav-item:last-child {
    border-right: 0;
}

header .dropdown-menu {
    max-width: 230px;
}

header .secondary-menu .dropdown-menu {
    max-width: none;
    width: 100%;
    border: 0;
}

header .secondary-menu .dropdown-menu > a {
    border: 0;
    padding: 0.8rem;
    text-align: left;
}

header .nav-link.dropdown-toggle::after {
    border: 0;
    content: " ";
    background-image: url(../images/down.svg);
    position: absolute;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-left: 8px;
    background-size: 15px;
}

header .secondary-menu .nav-link.dropdown-toggle::after {
    right: 0
}

.navbar-toggler:focus, .navbar-toggler:hover {
    outline: 0;
}

.arrow-right-border.learn-more a, .arrow-right-border.learn-more a:hover {
    color: #fff;
    text-decoration: none;
}

header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    cursor: pointer;
}

header .dropdown-item {
    white-space: normal;
}

header .navbar-brand {
    display: none;
    padding: 10px 20px;
}

.right-menu {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: lowercase;
    cursor: pointer;
}

.right-menu:after {
    content: " ";
    background-image: url(../images/down.svg);
    position: absolute;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-left: 8px;
    background-size: 15px;
    right: 0;
    border: 0;
    top: 15px;
    right: 25px;
}

.right-menu li {
    padding: 3px 0;
}

.right-menu img {
    width: 14px;
    margin-right: 5px;
}

.right-dropdown a {
    text-decoration: underline;
}

.right-dropdown .social-links img {
    width: 40px;
    height: 40px
}

.right-menu ~ .right-dropdown {
    background: #AB1E37;
    top: 115%;
    text-transform: capitalize;
    font-weight: normal;
}

.right-dropdown .dropdown-body {
    padding: 10% 10% 5%;
}

.right-dropdown .dropdown-body p {
    line-height: 1.5;
    margin-bottom: 1rem;
}

.right-dropdown .dropdown-body p:empty {
    display: none;
}

.right-dropdown .dropdown-body h4 {
    color: #fff;
}

.right-dropdown .menu-search {
    background: #907a5d;
    position: relative;
}

.right-dropdown .menu-search:before {
    content: " ";
    background-image: url(../images/search.svg);
    background-size: 15px;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 14px;
}

.right-dropdown .menu-search input {
    background: transparent;
    border: 0;
    width: 100%;
    height: 40px;
    color: #fff;
    padding: 5px 35px 5px 10px;
    font-weight: bold;
}

.menu-search input::placeholder {
    color: #fff;
}

.menu-search button[type="submit"] {
    position: absolute;
    right: 0;
    top: 0px;
    background: transparent;
    border: 0;
    height: 40px;
    width: 40px;
}

header nav .red-bg {
    background: #AB1E37;
}

header nav > .row > .col {
    padding: 0 15px;
}

header nav .bg-brown {
    background: #907a5d;
    padding: 0 15px;
}

header nav .bg-brown .col {
    border-right: 1px solid rgba(221, 221, 221, 0.30);
    text-align: center;
    padding: 0.6rem 0;
}

header nav .bg-brown .col:last-child {
    border-right: 0;
}

header .navbar-toggler {
    font-size: 1rem;
}

header ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul.menu.left-menu li {
    padding: 15px 15px 15px 25px
}

header ul.menu li {
    cursor: pointer;
    text-align: center;
    line-height: 3rem;
    padding: 15px 15px 15px 5px;
    margin: 0rem 0;
}

header .bg-brown .right-menu {
    margin: 0;
    padding: 14px 0;
}

header .bg-brown .right-menu > li {
    font-weight: normal;
    font-size: 15px;
    padding: 2px;
    text-transform: lowercase;
}

header .bg-brown .right-menu img {
    width: 14px;
    margin-right: 5px;
}

header ul.menu > li:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#f6f6f6' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    content: " ";
    height: 15px;
    width: 15px;
    position: absolute;
    top: 40%;
    left: 45%;
}

header ul.menu > li.has-sub:after {
    content: " ";
    background-image: url(../images/down.svg);
    position: absolute;
    height: 15px;
    width: 15px;
    top: 40%;
    right: 12%;
    background-size: 15px;
}

header .bg-brown ul.menu > li.has-sub:after {
    right: 22%;
}

header ul.menu li > ul.submenu {
    display: none;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0;
    top: 79px;
    background: #AB1E37;
    z-index: 100;
}

header ul.menu li:hover > ul.submenu {
    display: block;
}

header ul.menu li > ul.submenu > li {
    line-height: 30px;
    border-top: 1px solid #fff;
    margin: 0;
    padding: 5px 8px;
}

header ul.menu.middle {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
}

header ul.menu.middle li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}

header ul.menu.middle li:last-child {
    border-right: 0
}

header ul.menu.middle > li:before {
    background-image: none;
    content: ""
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.nav-item.nav-home .dropdown-menu {
    top: 98%;
}

div.nav-link {
    display: table;
    width: 100%;
}

div.nav-link .link-item {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}

.link-item.dropdown-toggle::after {
    border: 0;
    content: " ";
    background-image: url(../images/down.svg);
    position: absolute;
    height: 15px;
    width: 15px;
    margin-top: 2px;
    margin-left: 8px;
    background-size: 15px;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#f6f6f6' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

header nav a, header nav a:hover {
    color: #fff;
    text-decoration: none;
}

header .dropdown-menu {
    border-radius: 0;
    font-size: 0.8rem;
    background: #907a5d;
    color: #fff;
    border-top: 0;
    top: 58px;
    max-width: 228px;
    width: 228px;
    padding: 0;
}

header .dropdown-menu > a {
    padding: 1rem;
    color: #fff;
    font-weight: 600;
    border-top: 1px solid #fff;
    text-align: center;
}

header .link-item ~ .dropdown-menu {
    background: #AB1E37
}

header .dropdown-menu > a.red, header .dropdown-menu > a.red:hover {
    background: #806d55;
    color: #fff
}

header .link-item ~ .dropdown-menu > a:last-child {
    background: #806d55;
    color: #fff
}

header .dropdown-menu .dropdown-item.active, header .dropdown-menu .dropdown-item:active {
    background: #806d55
}

section.content > .container {
    background: #FAF4EB;
    padding: 4rem 25px 2rem;
}

section.content > .container.services_main {
    padding: 0 25px 2rem
}

.content {
    padding: 0 30px;
}

.navbar-nav.show-xs {
    display: none;
    padding: 0 20px;
}

.h4.section-title {
    font-weight: bold;
    font-size: 1rem;
    padding-top: 0.3rem;
}

.section-title {
    padding-bottom: 1rem;
    color: #AB1E37;
    border-bottom: 1px solid #AB1E37;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.section-content h5 {
    line-height: 1.8rem;
    margin-bottom: 2rem;
}

h5.parent-title {
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.section.content a {
    color: #AB1E37;
    text-decoration: none;
}

.section-content .page-list {

}

.section-content .page-list li {
    margin-bottom: 3rem;
    border-bottom: 1px solid #252525;
}

.section-content .page-list li.current_page_item {
    border-bottom: 1px solid #AB1E37;
}

.section-content .page-list li.page_item a, 
.section-content .page-list li.page_item a:hover {
    color: #252525;
    font-size: 1rem;
    padding-bottom: 0.9rem;
    font-weight: 300;
    text-decoration: none;
    display: block;
    line-height: 1.5;
}

.section-content .page-list li.current_page_item a,
.section-content .page-list li.current_page_item a:hover {
    font-weight: 800;
    color: #AB1E37;
}

figure {
    position: relative;
    width: auto !important;
}

figure img.rounded {
    border-radius: 50%;
}

figure .figure-img {
    margin-bottom: 0
}

figure figcaption {
    color: #fff !important;
    position: absolute;
    bottom: 0;
    font-size: 20px;
    line-height: 32px;
    padding: 10px 20px;
    width: 100%;
    background: rgba(115, 94, 66, 0.60);
    font-weight: 300
}

/* Team Section */

.team-desc {
    padding: 0;
}

.member {
    margin-bottom: 2.5rem;
}

.member figure {
    margin-bottom: 0;
    text-align: center;
}

.member .img-rounded {
    border-radius: 50%;
    border: 2px solid #907a5d;
    max-width: 100%;
}

/* Team Section Ends */

.close {
    position: absolute;
    right: 0;
    bottom: 0;
	margin-bottom: 1rem;
    width: 35px;
    height: 35px;
    opacity: 0.8;
    border: 1px solid #AB1E37;
    border-radius: 50%;
    cursor: pointer;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 16px;
    top: 4px;
    content: ' ';
    height: 25px;
    width: 1px;
/*    background-color: #AB1E37;*/
}
.section-title .close:before, .section-title .close:after {
    background-color: #AB1E37;
}


.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

/* Video Blocks */

.video-block .poster {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ddd;
    height: 100%;
    min-height: 200px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-position: center center;
    position: relative;
    cursor: pointer;    
}

.video-block .poster:before {
    content: " ";
    background-image: url(../images/play.svg);
    background-size: 75px;
    height: 75px;
    width: 75px;
    position: absolute;
    left: 40%;
    top: 38%;
}

.video-block .video-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #5d5d5d;
}

.video-block .video-play {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #ab2238;
    font-weight: 300;
    position: relative;
}

.video-block {
    margin-bottom: 2rem;
}

.video-play {
    cursor: pointer;
}

.video-block .video-play:after {
    content: " ";
    background-image: url(../images/right.svg);
    position: absolute;
    top: 4px;
    right: 0;
    width: 20px;
    height: 20px;
    background-size: 20px;
}

.video-modal .modal-header {
    background: transparent;
    border: 0;
}

.video-modal .modal-title {
    display: none;
}

.video-modal .modal-content {
    background: transparent;
    border: 0;
}

.video-modal .modal-footer {
    display: none;
}

.video-modal .modal-header {
    text-align: right;
    position: relative;
    margin-bottom: 0.5rem;
}

.video-modal button.close {
    float: right;
    position: absolute;
    right: 0;
}

.video-modal .modal-body {
    padding: 0;
}

.video-modal .close {
    opacity: 1;
    color: #fff;
    font-weight: normal;
}

video#popup-video {
    max-width: 100%;
    height: auto;
}

/* Video Block Ends */

/* Article Block Starts */

.article-block .poster {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ddd;
    height: 100%;
    min-height: 200px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-position: center center;
    position: relative;
}

.article-block .article-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #5d5d5d;
}

.article-block .article-play {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #ab2238;
    font-weight: 300;
    position: relative;
}

.article-block .article-play a, .article-block .article-play a:hover {
    color: #ab2238;
    text-decoration: none;
}

.article-block {
    margin-bottom: 2rem;
}

.article-play {
    cursor: pointer;
}

.article-block .article-play:after {
    content: " ";
    background-image: url(../images/right.svg);
    position: absolute;
    top: 4px;
    right: 0;
    width: 20px;
    height: 20px;
    background-size: 20px;
}

.article-block .article-desc a.more-link {
    display: none;
}
/* Article Block Ends */

/* Image Gallery Starts */

.gallery figure.gallery-item {
    display: inline-block;
    margin: 5px;
}

.gallery .gallery-caption {
    display: none;
}

/* Image Gallery Ends */

.btn-ico {
    text-align: left;
    color: inherit;
    border: 1px solid;
    font-size: 1rem;
    padding: 15px 25px;
    position: relative;
    margin-bottom: 1.5rem;
}

.btn-ico a {
    text-decoration: none;
    color: inherit;
}

.btn-ico a:hover {
    text-decoration: none;
}

.btn-ico:after {
    content: " ";
    background-size: 15px;
    background-image: url('../images/gotop-dark.svg');
    transform: rotate(90deg);
    background-size: 25px;
    height: 25px;
    width: 25px;
    position: absolute;
    right: 10px;
    top: 12px;
}

/* Bankruptcy Infographics */

.bankruptcy-guide div.list-item p {
    color: #AB1E37;
    margin-top: 20px;
    text-align:left;
    cursor: pointer;
    font-weight: bold;
	margin-left: 190px;
}

.bankruptcy-guide div.list-item > div {
    color: #AB1E37;
    margin-top: 20px;
    text-align:left;
    cursor: pointer;
    font-weight: bold;
	margin-left: 190px;
}

#title-wcdmb, #title-rad, #title-haidb {
	margin-bottom: 1.5rem;
	line-height: 1.5rem;
}

#title-wcdmb > div, #title-rad > div, #title-haidb > div {
	margin-right: 25px;
}

@media (max-width: 767px) {
    .bankruptcy-guide div.list-item p {
        margin-left: 0px;
    }
	.bankruptcy-guide div.list-item > div {
        margin-left: 0px;
    }
}
#btn-cancel-info-graphics:after{
    content: "";
    background: url(./delete.svg);
    background-size: 40px;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0;
    bottom: 1rem;
    cursor: pointer;
}
.bankruptcy-guide div p > i{
    content: "";
    background: url(./down.svg);
    background-size: 20px;
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: 10px;
    right: 0;
    margin-right: 30px;
    cursor: pointer;
    top: 0;
    margin-top: 20px;
}

.bankruptcy-guide div.list-item {
    position: relative;
    border: solid 2px #9c8383;
    border-radius: 4px;
    margin-top: 15px;
    max-width: 801px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
/*.bankruptcy-guide div.list-item:after {
    content: " ";
    background-image: url(https://staging.cjc.org.sg/wp-content/uploads/2017/12/Arrow-Down.png);
    position: absolute;
    height: 15px;
    width: 15px;
    margin-top: 15px;
    margin-left: 8px;
    background-size: 15px;
    background-repeat: no-repeat;
    right: 0;
    border: 0;
    top: 15px;
    right: 25px;
}*/
.bankruptcy-guide div.contain-info {
    max-width: 801px;
    margin-left: auto;
    margin-right: auto;
}

.contain-info{
    display: none;
    border-radius: 0;
    border: none;
    margin: 0;
    height: auto;
    padding: 0 !important;
}

.section-title{
    border-bottom: 1px solid #AB1E37;
    padding-bottom: 1rem;
    color: #AB1E37;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    position: relative;
}
.contain-info img{
    cursor: pointer;
    max-width: 100%;
    width: auto;
    height: auto;
}

#readMore > div{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

#contain-wcdmb-A{
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}
#contain-wcdmb-B-commissioner{
    margin-left: auto;
    margin-right: auto;
    max-width: 277px;
}
#contain-wcdmb-B-readMore-commissioner{
    margin-left: auto;
    margin-right: auto;
    max-width: 277px;
}

#contain-wcdmb-B-bankruptcy-estate img, #contain-wcdmb-A > img, #contain-wcdmb-B-readMore-oa img, #contain-wcdmb-B-readMore-oa img, #contain-rad-hdb-flats img, #contain-tbh-officialAssignee img, #contain-tbh-sentForDebt img, #contain-rad-discharge-5-7year img, #contain-tbh-debtRepaymentPlan img, #contain-rad-discharge-after7 img{
    width: 100%;
}

#readMore div.modal-content{
    background: transparent;
    border: none;
}

#readMore .modal-body .list{
    margin-bottom: 15px;
}
.list > .header-info{
    color: #AB1E37;
    font-weight: bold;
}
.list p{
    color: #AB1E37;
    margin: 0;
}
.icon-cancel-modal:after{
    content: "";
    background: url(./cancel.svg);
    background-size: 20px;
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: 10px;
    right: 0;
    margin-right: 15px;
    cursor: pointer;
}
#wcdmb-B{
    display: none;
}

#visual-guide{
  background-color: #FBF6EE;
}

.col-md-12.list-item{
  background-color: #FFFFFF;
}

.img-footer div > img:nth-child(1){
    margin-top: 1rem;
    margin-bottom: 3rem;
    cursor: pointer;
}
.img-footer{
    max-width: 801px;
    margin-left: auto;
    margin-right: auto;
}
#nus-group{
    visibility: visible;
}
#partnership:hover~#nus-group{
    visibility: visible;
}
#partnership{
}
.title-disclaimer{
    display:  block;
    font-weight: bold;
    color:  #AB1E37;
    margin-bottom: 4rem;
    margin-top:  3rem;
}
.title-partnership{
    display:  block;
    font-weight: bold;
    color:  #AB1E37;
    margin-bottom: 2rem;
    margin-top:  3rem;
    width: 100%;
}
#bankruptcy-order-issue img{
    width: 100%;
}
.no-padding{
    padding: 0;
}
.padding-10{
    padding: 10px;
}

/* FAQ */

h3.faq-header {
    color: #465661;
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #465661;
    margin: 2rem 0 3rem;
}

.faq-search input, .faq-search input:focus {
    background: transparent;
    border-left: 0 !important;
    padding: 0.6rem;
    border-radius: 0;
    outline: 0;
    border: 1px solid rgba(73, 80, 87, 0.70);
}

.faq-group .answer {
    margin-bottom: 1rem;
}

.input-group.faq-search {
    margin: 4rem 0 3rem;
}

span#search-faq {
    background-image: url(../images/search-dark.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid rgba(73, 80, 87, 0.70);
    border-right: 0 !important;
}

.faq-group .faq-title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.faq-group {
    margin-bottom: 2rem;
}

.form {

}

.form .form-group {
    
}

.form .form-group.inset-label {
    position: relative;
}

.form .form-group.inset-label label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    color: #757575;
}

.form .form-group.inset-label textarea {
    padding-top: 60px;
    padding-bottom: 35px;
    font-size: 50px;
    font-weight: 300;
    height: 160px;
}

.form .form-group.inset-label textarea::placeholder {
    color: #b7b7b7;
    font-size: 30px;
    padding-top: 10px;
}

.form .form-control {
    border-radius: 0;
    background: transparent;
    border: 1px solid #4a5768;
    padding: 15px 10px;
}

.form .form-group h4 {
    color: #AB1E37
}

.form .form-group .item {
    background: transparent;
    color: #fff;
    border: 1px solid #4a5768;
    color: #656565;
    padding: 15px;
    margin-bottom: 1rem;
    transition: all 0.2s;
}

.form .form-group .item.active, .form .form-group .item:hover {
    background: #AB1E37;
    border: 1px solid #AB1E37;
    color: #ffffff;
}

.form .form-group .item > .label {
    font-weight: bold;
    margin-bottom: 1rem;
}

.form .form-group .item > .money {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

.custom-control {
    margin-bottom: 1rem;
    padding-left: 1.8rem;
}

.custom-control-indicator {
    width: 1.3rem;
    height: 1.3rem;
    background: #fff;
    border: 1px solid #907a5d;
}

.custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none;
}

.custom-control-description {
    font-size: 1rem;
    padding-top: 2px;
}

.custom-control-input:checked ~ .custom-control-indicator {
    background-color: #907a5d;
}

.custom-radio .custom-control-input:checked ~ .custom-control-indicator {
    background-image: none;
}

.custom-checkbox .custom-control-indicator {
    border-radius: 0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type=number].nospinner { -moz-appearance: textfield; }
input[type=number].nospinner::-webkit-inner-spin-button,
input[type=number].nospinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.donation-thank {
    line-height: 3rem;
    font-weight: 500;
}

/* Footer */

footer.entry-footer {
    margin-top: 30px;
}

footer.entry-footer a.post-edit-link {
    display: inline-block;
    padding: 8px 15px;
    background: #ab2238;
    color: #fff;
    font-weight: bold;
}

footer.footer {
    background: #465661;
    padding: 2rem 0;
    color: #fff;
    font-size: 13px;
}

footer.footer .social-links img {
    width: 40px;
    height: 40px;
}

footer .newsletter {

}

footer .footer-end > a {
    color: #fff;
    text-decoration: none;
}

footer.footer .footer-header, footer.footer .widget-title {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 1.6rem;
    color: #fff;
}

footer.footer .footer-header.gotop {
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

footer.footer .footer-header.gotop:after {
    content: "";
    background: url(../images/gotop.svg);
    background-size: 24px;
    height: 24px;
    width: 24px;
    position: absolute;
    margin-left: 15px;
    top: 3px;
}

footer.footer .menu-search {
    position: relative;
    width: 50%;
    transition: 0.1s all ease-in-out
}

footer.footer .menu-search.full {
    width: 100%
}

footer.footer .menu-search:before {
    content: " ";
    background-image: url(../images/search.svg);
    background-size: 15px;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    margin-left: 65px;
    top: 12px;
    right: 10px;
}

footer.footer .menu-search input {
    background: transparent;
    border: 0;
    width: 100%;
    height: 40px;
    color: #fff;
    padding: 5px 35px 5px 0;
    font-weight: bold;
    transition: 0.1s all ease-in-out;
}

footer.footer .menu-search input:focus {
    outline: 0;
    background: #907a5d;
    padding: 5px 35px 5px 10px;
}

.menu-search input::placeholder {
    color: #fff;
}

.menu-search button[type="submit"] {
    position: absolute;
    right: 0;
    top: 0px;
    background: transparent;
    border: 0;
    height: 40px;
    width: 40px;
}

footer.footer ul {
    list-style: none;
    padding: 0
}

footer.footer ul > li > a {
    color: #fff;
    text-decoration: none;
}

footer.footer .newsletter .form-group {
    margin-bottom: 0.5rem
}

footer.footer .newsletter .form-group input {
    border-radius: 0;
    font-size: 13px;
    padding: 0.45rem 0.5rem;
}

footer.footer .newsletter input[type="button"] {
    background: #AB1E37;
    border-radius: 0;
    font-weight: normal;
    border: 0;
    border-radius: 0;
    padding: 0.5rem 1.5rem;
    font-size: 0.8rem;
}

footer.footer .newsletter input[type="button"]:hover {
    background: #92182e;
}

footer.footer .newsletter input[type="button"]:focus {
    box-shadow: none;
}

footer.footer .newsletter input[type="button"]:active {
    background-color: #AB1E37;
    border-color: #AB1E37;
}

footer.footer .ipc {
    color: #ddd
}

footer.footer .sub-footer {
    font-size: 0.6rem;
    line-height: 1.2rem;
    padding-top: 1.5rem;
    border-top: 1px solid #ddd;
    margin-top: 1rem;
}

/* Responsiveness Code. */

@media (max-width: 575px) {

}

@media (max-width: 767px) {

    figure figcaption {
        position: relative;
        font-size: 1rem;
    }

}

@media (max-width: 991px) {
    header .navbar-brand {
        display: inline-block;
    }
    .navbar-nav.hide-xs {
        display: none;
    }
    .navbar-nav.show-xs {
        display: block;
    }
    .navbar-expand-md .navbar-toggler {
        display: block;
    }
    figure figcaption {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (max-width: 1199px) {
    .right-menu {
        width: 80%;
        font-size: 14px;
    }
}

/* Helper Classes */

.no-margin {
    margin: 0
}

.mt-xlg {
    margin-top: 40px
}

.mt-n-xlg {
    margin-top: -40px
}

.mt-lg {
    margin-top: 27px
}

.mt-n-lg {
    margin-top: -27px
}

.mt {
    margin-top: 18px
}

.mt-n {
    margin-top: 18px
}

.mt-md {
    margin-top: 18px
}

.mt-n-md {
    margin-top: -18px
}

.mt-sm {
    margin-top: 9px
}

.mt-n-sm {
    margin-top: -9px
}

.mt-xs {
    margin-top: 4.5px
}

.mt-n-xs {
    margin-top: -4.5px
}

.mt-0 {
    margin-top: 0
}

.mt-n-0 {
    margin-top: 0
}

.mb-xlg {
    margin-bottom: 40px
}

.mb-n-xlg {
    margin-bottom: -40px
}

.mb-lg {
    margin-bottom: 27px
}

.mb-n-lg {
    margin-bottom: -27px
}

.mb {
    margin-bottom: 8px
}

.mb-n {
    margin-bottom: 18px
}

.mb-md {
    margin-bottom: 18px
}

.mb-n-md {
    margin-bottom: -18px
}

.mb-sm {
    margin-bottom: 9px
}

.mb-n-sm {
    margin-bottom: -9px
}

.mb-xs {
    margin-bottom: 4.5px
}

.mb-n-xs {
    margin-bottom: -4.5px
}

.mb-0 {
    margin-bottom: 0
}

.mb-n-0 {
    margin-bottom: 0
}

.ml-lg {
    margin-left: 20px
}

.ml-n-lg {
    margin-left: -20px
}

.ml {
    margin-left: 15px
}

.ml-n {
    margin-left: 15px
}

.ml-md {
    margin-left: 15px
}

.ml-n-md {
    margin-left: -15px
}

.ml-sm {
    margin-left: 10px
}

.ml-n-sm {
    margin-left: -10px
}

.ml-xs {
    margin-left: 5px
}

.ml-n-xs {
    margin-left: -5px
}

.ml-0 {
    margin-left: 0
}

.ml-n-0 {
    margin-left: 0
}

.mr-lg {
    margin-right: 20px
}

.mr-n-lg {
    margin-right: -20px
}

.mr {
    margin-right: 15px
}

.mr-n {
    margin-right: 15px
}

.mr-md {
    margin-right: 15px
}

.mr-n-md {
    margin-right: -15px
}

.mr-sm {
    margin-right: 10px
}

.mr-n-sm {
    margin-right: -10px
}

.mr-xs {
    margin-right: 5px
}

.mr-n-xs {
    margin-right: -5px
}

.mr-0 {
    margin-right: 0
}

.mr-n-0 {
    margin-right: 0
}

.no-padding {
    padding: 0
}

.display-inline {
    display: inline
}

.display-n-inline {
    display: -inline
}

.display-inline-block {
    display: inline-block
}

.display-n-inline-block {
    display: -inline
}

.display-block {
    display: block
}

.display-none {
    display: none;
}

.display-n-block {
    display: -inline
}

.width-50 {
    width: 50px
}

.width-n-50 {
    width: -inline
}

.width-100 {
    width: 100px
}

.width-n-100 {
    width: -inline
}

.width-150 {
    width: 150px
}

.width-n-150 {
    width: -inline
}

.width-200 {
    width: 200px
}

.width-250 {
    width: 250px !important;
}

.width-n-200 {
    width: -inline
}

.height-50 {
    height: 50px
}

.height-n-50 {
    height: -inline
}

.height-100 {
    height: 100px
}

.height-n-100 {
    height: -inline
}

.height-150 {
    height: 150px
}

.height-n-150 {
    height: -inline
}

.height-200 {
    height: 200px
}

.height-n-200 {
    height: -inline
}

.height-250 {
    height: 250px
}

.height-n-250 {
    height: -inline
}

.max-height-50 {
    max-height: 50px
}

.max-height-n-50 {
    max-height: -inline
}

.max-height-100 {
    max-height: 100px
}

.max-height-n-100 {
    max-height: -inline
}

.max-height-150 {
    max-height: 150px
}

.max-height-n-150 {
    max-height: -inline
}

.max-height-200 {
    max-height: 200px
}

.max-height-n-200 {
    max-height: -inline
}

.max-height-250 {
    max-height: 250px
}

.max-height-n-250 {
    max-height: -inline
}

.opacity-10 {
    opacity: 0.1
}

.opacity-n-10 {
    opacity: -inline
}

.opacity-20 {
    opacity: 0.2
}

.opacity-n-20 {
    opacity: -inline
}

.opacity-30 {
    opacity: 0.3
}

.opacity-n-30 {
    opacity: -inline
}

.opacity-40 {
    opacity: 0.4
}

.opacity-n-40 {
    opacity: -inline
}

.opacity-50 {
    opacity: 0.5
}

.opacity-n-50 {
    opacity: -inline
}

.opacity-60 {
    opacity: 0.6
}

.opacity-n-60 {
    opacity: -inline
}

.opacity-70 {
    opacity: 0.7
}

.opacity-n-70 {
    opacity: -inline
}

.opacity-80 {
    opacity: 0.8
}

.opacity-n-80 {
    opacity: -inline
}

.opacity-90 {
    opacity: 0.9
}

.opacity-n-90 {
    opacity: -inline
}

.z-index-more {
    z-index: 1
}

.z-index-n-more {
    z-index: -inline
}

.z-index-less {
    z-index: -1
}

.z-index-n-less {
    z-index: -inline
}

.no-border {
    border: none
}

.bt {
    border-top: 1px solid #ddd
}

.br {
    border-right: 1px solid #ddd
}

.bb {
    border-bottom: 1px solid #ddd
}

.bl {
    border-left: 1px solid #ddd
}

.overflow-hidden {
    overflow: hidden
}

/* Financial Report */

ul.pdf-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

ul.pdf-list li {
    display: inline-block;
    margin: 8px;
    cursor: pointer;
    text-align: center;
}

ul.pdf-list p:empty {
    display: none;
}

ul.pdf-list li img {
    transition: 0.2s ease-in-out;
    border: 1px solid rgba(144, 122, 93, 0.60);
}

ul.pdf-list li:hover > img {
    box-shadow: 0px 4px 8px rgba(144, 122, 93, 0.45);
    transform: translateY(-5px);
}

ul.pdf-list li.active > img {
    box-shadow: 0px 4px 8px rgba(144, 122, 93, 0.45);
    border: 1px solid rgb(171, 34, 56);
    transform: translateY(-5px);
}

ul.pdf-list li > label {
    display: block;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 5px;
}

ul.pdf-list li.active > label {
    font-weight: bold;
}

/* Financial Report Ends */

/* pdf */

.result-pdf {
    display: none;
}

.pdf-header {
    background: #c9b4a1;
    color: #fff;
}

.pdf-header > h4 {
    color: #fff
}

.pdf-content {
    background: #f5f5f5;
    position: relative;
    margin-bottom: 10px;
}

.pdf-pager {
    position: absolute;
    background: #a7a9ac;
    color: #fff;
    padding: 6px 20px;
    width: 30%;
    bottom: 0;
    right: 0;
}
#pdf-viewer {
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.pdf-page-canvas {
    display: block;
    margin: 5px auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/*self Help bank*/

.custom-template .section-title {
    padding-top: 5px;
    font-size: 15px;
    line-height: normal;
    font-weight: bold;
}

.content.custom-template .container {
    padding: 0;
}

.content.custom-template .container > .row {
    margin-left: 0;
    margin-right: 0;
}

.custom-template .content {
    padding-top: 35px;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
    background-position: -454px 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.custom-template .content > * {
    z-index: 1;
    position: relative;
}

.custom-template .content:before {
    content: "";
    position: absolute;
    z-index: 0;
    background: rgba(95, 72, 50, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.custom-template .pd-md-70.content:before {
    background: rgba(171, 146, 112, 0.70);
}

.custom-template .sidebar-left {
    background-color: #faf4eb;
    padding-top: 35px;
    padding-bottom: 35px;
}

.custom-template .sidebar-right {
    background-color: #ab1e37;
    padding-top: 35px;
    padding-bottom: 35px;
}

.dropdown-sidebar .dropdown-toggle {
    display: block;
    padding-right: 20px;
    font-size: 15px;
    font-weight: bold;
}

.sidebar-left .dropdown-toggle {
    color: #ab1e37;
}

.sidebar-right .dropdown-toggle {
    font-weight: normal;
}

.sidebar-right .text-link {
    display: inline-block;
    margin-bottom: 15px;
}

.sidebar-right .dropdown-menu .dropdown-item {
    font-size: 17px;
    padding: 0;
}

.sidebar-right .dropdown-item:hover,
.sidebar-right .dropdown-item:focus {
    color: #fff;
}

.sidebar-left .dropdown-item:hover,
.sidebar-left .dropdown-item:focus {
    color: #000;
}

.dropdown-sidebar .dropdown-toggle:focus,
.dropdown-sidebar .dropdown-toggle:hover {
    text-decoration: none;
    outline: none;
}

.dropdown-sidebar .dropdown-toggle:after {
    border: none;
    content: "\e900";
    font-weight: bold;
    margin-left: 15px;
    position: absolute;
    right: 15px;
    top: 5px;
}

.dropdown-sidebar .dropdown-menu {
    position: static !important;
    transform: none !important;
    float: none;
    width: 100%;
    min-width: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.dropdown-sidebar .dropdown-menu a {
    display: block;
    font-size: 14px;
    padding: 5px 0;
}

.dropdown-sidebar .dropdown-menu a:hover,
.dropdown-sidebar .dropdown-menu a:focus {
    background-color: transparent;
    text-decoration: none;
    outline: none;
}

.list-help a {
    font-size: 17px;
    color: #fff;
}

.list-help a:hover {
    text-decoration: none;
}

.list-help li {
    padding-bottom: 15px;
}

.group-page-link a {
    color: #fff;
    background-color: rgba(150, 118, 86, 0.5);
    border-bottom: 1px solid #fff;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.group-page-link a:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.group-page-link a:hover {
    text-decoration: none;
}

.group-page-link .title {
    display: block;
    font-size: 21px;
    font-weight: 300;
}

.group-page-link .desc {
    display: block;
    font-weight: normal;
    padding-top: 15px;
    border-top: 1px solid #fff;
}

.custom-template ul.list-help {
    padding: 0;
    list-style: none;
}

.list-help a {
    font-size: 17px;
    color: #fff;
}

.custom-template .list-form {
    border-bottom: 1px solid #faf4eb;
}

.custom-template .list-form ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.custom-template .list-form br {
    display: none;
}

.custom-template .list-form > p {
    font-size: 23px;
    font-weight: 300;
    color: #fff;
}

.custom-template .list-form ul li {
    padding-bottom: 15px;
}

.custom-template .list-form ul li a {
    display: block;
    position: relative;
    background-color: rgba(250, 244, 235, 0.7);
    border: 1px solid #465661;
    padding: 15px 50px 15px 25px;
    color: #465661;
    font-size: 20px;
}

.custom-template .list-form ul li a:hover {
    text-decoration: none;
}

.custom-template .list-form ul li a:after {
    content: "\e901";
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.document-desc {
    margin-top: 30px;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #967656;
}

.document-desc .wp-editor > p {
    color: #465661;
    font-size: 17px;
    font-weight: 600;
}

.document-desc .wp-editor ol {
    list-style: lower-roman;
    color: #465661;
    font-size: 17px;
    padding: 0 35px;
}

.document-desc .wp-editor ol li {
    padding-left: 15px;
    padding-bottom: 15px;
}

.document-desc .wp-editor a {
    text-decoration: underline;
    color: #465661;
}

.document-desc .wp-editor a:hover {
    text-decoration: none;
}

.document-desc .wp-editor ol li:last-child {
    padding-bottom: 0;
}

.action-button {
    padding: 30px 0 0;
    text-align: center;
}

.btn-gray {
    display: inline-block;
    padding: 15px 25px;
    background-color: #465661;
    border-radius: 5px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}

.btn-gray:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
}

.btn-gray:focus {
    text-decoration: none;
    color: #fff;
}

.custom-template .btn-gray {
    max-width: 170px;
}

.custom-template .content.self-help > h4 {
    font-size: 23px;
    font-weight: 300;
    color: #fff;
    line-height: 1.5;
}

/*service-page*/
.service-intro {
    font-size: 21px;
    font-weight: 300;
    color: #fff;
    margin: 0;
    padding: 15px;
    line-height: 1.7;
}

.group-service-link {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: -30px;
    padding: 0;
}

.group-service-link > li {
    background-color: rgba(150, 118, 86, 0.5);
    color: #fff;
    border: 1px solid #fff;
    border-top: none;
    border-right: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.group-service-link > li:first-child {
    border-left: 0;
}

.service-dropdown {
    position: relative;
}

.service-dropdown .dropdown-toggle {
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    min-width: 0;
    padding: 15px;
    border-bottom: 1px solid #fff;
}

.service-dropdown .dropdown-toggle:hover,
.service-dropdown .dropdown-toggle:focus {
    text-decoration: none;
    outline: none;
}

.service-dropdown .dropdown-toggle:hover {
    background: rgba(150, 118, 86, 0.5);
}

.service-dropdown .dropdown-toggle:after {
    border: 0;
    content: " ";
    background-image: url(../images/down.svg);
    position: absolute;
    height: 15px;
    width: 15px;
    margin-top: 7px;
    margin-left: 8px;
    background-size: 15px;
}

.service-dropdown .dropdown-menu {
    top: 100% !important;
    transform: none !important;
    width: 100%;
    background-color: #907a5d;
    border: 1px solid #fff;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    min-width: 0;
    padding: 0;
    margin: 0;
    color: #fff;
}

.service-dropdown .dropdown-menu li {
    position: relative;
    width: 100%;
    min-height: 88px;
    border-bottom: 1px solid #fff;
}

.service-dropdown .dropdown-item {
    padding: 5px 40px 5px 30px;
    font-size: 13px;
    color: #fff;
    white-space: normal;
    display: flex;
    min-height: 88px;
    height: 100%;
    align-items: center;
}

.service-dropdown .dropdown-item:after {
    content: "\e901";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.service-dropdown .dropdown-item:hover,
.service-dropdown .dropdown-item:focus {
    background-color: #fff;
    color: #ab1e37;
}

.group-service-link > li .desc {
    font-size: 13px;
    min-height: 120px;
    padding: 20px 0;
    margin: 300px 15px 0;
    border-top: 1px solid #fff;
}

/*for IE11*/
@media all and (-ms-high-contrast:none) {
    .service-dropdown .dropdown-menu li {
        display: table;
        width: 100%;
    }

    .service-dropdown .dropdown-item {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
    }
}

/*style only mobile*/
@media only screen and (max-width: 321px) {
    .service-dropdown .dropdown-toggle {
        padding: 15px 10px;
    }

    .service-dropdown .dropdown-toggle:after {
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

/*sm*/
@media (min-width: 576px) {
    .self-help-home.content {
        padding-top: 0;
        padding-bottom: 0;
    }

    .group-page-link a {
        padding-top: 35px;
        margin: 0;
        border-left: 1px solid #fff;
        border-bottom: none;
    }
    
    .group-page-link a:last-child {
        border-left: 1px solid #fff;
    }

    .group-page-link .title,
    .group-page-link .desc {
        min-height: 422px;
    }

    .group-service-link > li {
        border-bottom: none;
    }
}

/*md*/
@media (min-width: 768px) {
    /*customize structure of grid to like desing 5 columns*/
    .custom-template .container > .row {
        flex-wrap: nowrap;
    }
    
    .custom-template .content {
        overflow: hidden;
    }

    .side-md-20 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .content-md-auto {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-width: 0;
    }

    .custom-template .list-form ul li a:after {
        font-size: 32px;
    }

    .service-intro {
        padding: 45px 35px 90px;
    }

    .service-dropdown .dropdown-toggle {
        padding-left: 15px;
    }

    .group-service-link > li:hover .dropdown-menu {
        display: block;
    }
}

/*lg*/
@media (min-width: 992px) {
    .custom-template .sidebar-left {
        padding-top: 85px;
        padding-left: 40px;
    }

    .custom-template .sidebar-right {
        padding-top: 85px;
    }

    .custom-template .self-help-home.content {
        padding-top: 0;
        padding-bottom: 0;
    }

    .custom-template .content {
        padding-top: 85px;
        padding-bottom: 62px;
        min-height: 992px;
    }

    .custom-template .content.self-help {
        padding-left: 70px;
        padding-right: 70px;        
    }    

    .pd-md-70 {
        padding-left: 70px;
        padding-right: 70px;        
    }

    .custom-template .list-form {
        padding-top: 25px;
        padding-bottom: 35px;
    }

    .document-desc {
        margin-top: 45px;
        padding: 35px 50px;
    }
    
    .document-desc .wp-editor ol li {
        padding-left: 50px;
        padding-bottom: 25px;
    }

    .action-button {
        padding: 62px 0 0;
    }

    .custom-template .section-title {
        margin-bottom: 75px;
    }
    
    .group-page-link a {
        padding-top: 85px;
    }
    
    .group-page-link .title, .group-page-link .desc {
        min-height: 441px;
    }

    .group-service-link {
        margin-bottom: -62px;
    }

    .list-help li {
        padding-bottom: 25px;
    }

    .service-dropdown .dropdown-toggle {
        padding-left: 30px;
        font-size: 19px;
    }

    .service-dropdown .dropdown-item {
        transition: all 0.3s ease-in-out;
    }

    .sidebar-right .text-link {
        margin-bottom: 25px;
    }
}

@media (min-width: 1200px) {
    .group-service-link > li .desc {
        min-height: 349px;
        margin-top: 341px;
    }
}
.entry-title a{display:inline-block;padding:10px 0px; font-family: 'Open Sans Semibold';color:#AB1E37;font-size:22px;}
#title-haidb{
	margin-bottom: 20px;
}
